* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: hsl(0, 0%, 8%);
  color: white;
}

a {
  text-decoration: none;
  color: white;
}
