* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
}

body {
  background-color: #f4d04e;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #f4d04e;
}

#blog-card--container {
  background-color: #fff;
  width: 380px;
  height: 560px;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 8px 8px 0 0 #000;
  padding: 1.1rem;
  margin: 2rem auto;
}

.blog-card--image {
  display: flex;
  justify-content: center;
}

.blog-card--image img {
  border-radius: 10px;
}

.blog-card--text {
  margin-top: 1.1rem;
  margin-left: 5px;
}

.category-bg--yellow {
  background-color: #f4d04e;
  padding: 5px 10px;
  border-radius: 5px;
  width: 90px;
  text-align: center;
}
