* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
}

body {
  background-color: #f4d04e;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #f4d04e;
}

#blog-card--container {
  background-color: #fff;
  width: 380px;
  height: 560px;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 8px 8px 0 0 #000;
  padding: 1.1rem;
  margin: 2rem auto;
}

.blog-card--image {
  display: flex;
  justify-content: center;
}

.blog-card--image img {
  border-radius: 10px;
}

.blog-card--text {
  margin-top: 1.1rem;
  margin-left: 5px;
}

.category-bg--yellow {
  background-color: #f4d04e;
  padding: 5px 10px;
  border-radius: 5px;
  width: 90px;
  text-align: center;
}

.published-date {
  font-size: 14px;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.blog-post--title {
  font-size: 24px;
  font-weight: 800;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.blog-post--preview-text {
  color: #7f7f7f;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.7;
  margin-bottom: 1.5rem;
}

.blog-card--author {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.blog-card--author h4 {
  margin-left: 1rem;
  font-size: 14px;
  font-weight: 800;
}

/* media Queries  */

@media screen and (max-width: 500px) {
  #blog-card--container {
    width: 90%;
    margin: 2rem auto;
  }

  .blog-card--image img {
    width: 100%;
  }
}
