* {
  font-family: "Outfit", sans-serif;
  /* a simple css rest  */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
this color were given in hsl but were converted to hex
the link is htmlcolors.com  
*/

body {
  background-color: #d6e2f0;
}

h2 {
  text-align: center;
  padding: 0 1.5rem;
  color: #1f3251;
  margin: 0.5rem;
}

p {
  font-size: 15px;
  text-align: center;
  color: #7b879d;
  padding: 1rem 3rem;
}

#qrcode__container {
  width: 350px;
  height: 560px;
  background-color: #fff;
  border-radius: 25px;
  margin-top: 7rem;
  margin-left: auto;
  margin-right: auto;
}

.qrcode__image {
  text-align: center;
}
.qrcode__image img {
  width: 100%;
  padding: 1rem;
  border-radius: 25px;
}

/* media Queries */

@media screen and (max-width: 375px) {
  #qrcode__container {
    margin-top: 2rem;
    width: 90%px;
  }
}
